:root {
    --my-padding: 0.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero"
    "main main main image"
    "main main main extra"
    "footer footer footer footer"
    ;

    height: 100vh;
    text-align: center;
    text-transform: uppercase;
}


.header {
    display: grid;
    align-items: center;
    background-color: rgb(255, 152, 255);
    grid-area: header;
    padding: var(--my-padding);
}

.menu {
    display: grid;
    align-items: center;
    background-color: rgb(134, 237, 255);
    grid-area: menu;
    padding: var(--my-padding);
}

.hero {
    display: grid;
    align-items: center;
    background-color: rgb(255, 135, 113);
    grid-area: hero;
    padding: var(--my-padding);
}

.image {
    display: grid;
    align-items: center;
    background-color: rgb(128, 78, 128);
    grid-area: image;
    padding: var(--my-padding);
}

.extra {
    display: grid;
    align-items: center;
    background-color: rgb(49, 90, 70);
    grid-area: extra;
    padding: var(--my-padding);
}

main {
    display: grid;
    align-items: center;
    background-color: rgb(81, 81, 155);
    grid-area: main;
    padding: var(--my-padding);
}

footer {
    display: grid;
    align-items: center;
    background-color: rgb(99, 99, 99);
    grid-area: footer;
    padding: var(--my-padding);
}

@media (max-width: 1024px) {
    .container {
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 2fr 1fr 0.5fr;
    grid-template-areas: 
    "header header header"
    "hero hero hero"
    "menu main main"
    "menu footer footer"
    "menu extra image"
    ;
    }
}

@media (max-width: 480px) {
    .container {
        gap: 0;
     grid-template-columns: 1fr;
     grid-template-rows: 0.2fr 0.5fr 1fr 2fr 1fr 1fr 1fr;
     grid-template-areas: 
     "header"
     "menu"
     "hero"
     "main"
     "footer"
     "extra"
     "image"
    ;
    }
}